function article (data1,data2){ return`
<article class="col-xs-12 article_home">
 <section class="home_page">
   <div id= "home_image_div">
 	<h1 class="home_text1">Ethiopian</h1>
 	<h1 class="home_text2">Support & Integration Association in</h1>
 	<h1 class="home_text3">Skåne</h1>
 	</div>

</section>

<section id= "article_aboutus">
	<div class = "aboutus_home_left col-md-8">
		<h1 class="title">${data1.headLine}</h1>
		<p >${data1.text}</p>
	</div>
	<div class="puffs col-xs-12 col-md-4">
		
	</div>

</section>

<section id= "article_aboutus">
<h1 class="title">${data2.headLine}</h1>
<p >${data2.text}</p>

</section>

  

	

</article>
`
};
