function displayNavbar(){ return `
<nav class="navbar navbar-inverse bg-inverse navbar_class">
  <div class="container-fluid col-xs-12">
    <div class="navbar-header col-xs-2">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand " href="#">ESIAS</a>
    </div>

    <div class="collapse navbar-collapse col-xs-10" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="home" id="home">Home</a></li>
        <li><a href="about" id="about_us">About</a></li>
        <li><a href="membership" id="membership_nav">Membership</a></li>
        <li><a href="priority_areas" id="priority_areas">Priority Areas</a></li>
        <li><a href="#" id="team_nav">Team</a></li>
        <li><a href="#" id="partners_nav">Partners</a></li>
        <li><a href="kontakt" id="contact">Contact</a></li>      
                
      </ul>
      
    </div>
  </div>
</nav>


`}