function priority_areas (priorityArea){ return`
<section id="priority_areas">
   <div class = "priority_rows">
     <div class="col-md-6 col-xs-12">
	        <div><img class="priority_area_picture col-md-2 col-xs-2 " src= "${priorityArea[0].picture}">
	           <h3 class = "priority_title col-md-10 col-xs-10">${priorityArea[0].headLine}</h3> 
	        </div>  
	        
	        <p class = "priority_text col-md-12 col-xs-12" >${priorityArea[0].text}</h3>      	        
	  </div>
	  <div class="col-md-6 col-xs-12">
	        <div><img class="priority_area_picture col-md-2 col-xs-2 " src= "${priorityArea[1].picture}">
	           <h3 class = "priority_title col-md-10 col-xs-10">${priorityArea[1].headLine}</h3> 
	        </div>  
	        
	        <p class = "priority_text col-md-12 col-xs-12" >${priorityArea[1].text}</h3>      	        
	  </div>
	</div>
    <div class = "priority_rows">
	       <div class="col-md-6 col-xs-12">
	        <div><img class="priority_area_picture col-md-2 col-xs-2 " src= "${priorityArea[2].picture}">
	           <h3 class = "priority_title col-md-10 col-xs-10">${priorityArea[2].headLine}</h3> 
	        </div>  
	        
	        <p class = "priority_text col-md-12 col-xs-12" >${priorityArea[2].text}</h3>      	        
	  </div>
	  <div class="col-md-6 col-xs-12">
	        <div><img class="priority_area_picture col-md-2 col-xs-2 " src= "${priorityArea[3].picture}">
	           <h3 class = "priority_title col-md-10 col-xs-10">${priorityArea[3].headLine}</h3> 
	        </div>  
	        
	        <p class = "priority_text col-md-12 col-xs-12" >${priorityArea[3].text}</h3>      	        
	  </div>
	</div>
	<div class = "priority_rows">
	       <div class="col-md-6 col-xs-12">
	        <div><img class="priority_area_picture col-md-2 col-xs-2 " src= "${priorityArea[4].picture}">
	           <h3 class = "priority_title col-md-10 col-xs-10">${priorityArea[4].headLine}</h3> 
	        </div>  
	        
	        <p class = "priority_text col-md-12 col-xs-12" >${priorityArea[4].text}</h3>      	        
	  </div>
	  <div class="col-md-6 col-xs-12">
	        <div><img class="priority_area_picture col-md-2 col-xs-2 " src= "${priorityArea[5].picture}">
	           <h3 class = "priority_title col-md-10 col-xs-10">${priorityArea[5].headLine}</h3> 
	        </div>  
	        
	        <p class = "priority_text col-md-12 col-xs-12" >${priorityArea[5].text}</h3>      	        
	  </div>
	</div>
 	


</section>
`
};
