function displayTeam(team){ return`
     <!--<div class="div_class  col-md-12 col-xs-12">
	        <div><img class="team_picture col-md-2 col-xs-12 " src= "${team.picture}">
	           <h3 class = "team_title col-md-10 col-xs-12">${team.headLine}</h3> 
	        </div>  	        
	        <p class = "team_text col-md-12 col-xs-12" >${team.text}</h3>      	        
	  </div>-->

	<div class="teamdiv col-md-6 col-xs-12">
	    <div><img class="team_picture col-md-2 col-xs-2 " src= "${team.picture}">
	         <h3 class = "team_title col-md-10 col-xs-10">${team.headLine}</h3> 
	    </div>  
	        
	    <p class = "team_text col-md-12 col-xs-12" >${team.text}</h3>     	        
	</div>

`
};